.App {
  text-align: center;
  padding:10px;
  border:2px blue solid;
}
.App-div {
  text-align: center;
  padding:10px;
  border:2px green solid;
}
.Greet{
  border : 4px solid cyan;
  padding :20px;
  text-align: center;
}
.Login{
  border : 4px solid blue;
  padding :20px;
  width:20%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Menu,.Registration,.Native{
  height: 200px;
  background: linear-gradient(45deg,skyblue,white,skyblue);
  text-align: center;
  padding: 3px;
  width:400px;
  margin: auto;
  border:2px solid rgb(90, 135, 187);
  border-radius: 6px;
  box-shadow:2px 2px 2px 2px;
  margin-top: 25px;
  margin-bottom: 25px;
}
button {
  background-color: rgb(12, 134, 182);
  border: none;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}
.time {
  font-size: 20px;
  margin: 10px;
}
